.all-shirts{
  position: absolute;
  top: 30px;
}

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 300px;
  height: 281px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);

}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  left: 10px;
  bottom: 10px;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: transparent;
}
img {
  height: 250px;
}
.all-shirts{
  margin: 100px;
  overflow: none;
  margin: auto;
}

.shirt-menu{
  float: left;
  margin-left: 30px;

}

.big-shirt {
  height: 250px;
  width: 280px;
  padding: 30px 10px 30px 20px;
  border: 3px solid #A4D4FF;
  position: relative;
  margin: 0;
}
.refresh{
  border-bottom: 2px solid #A4D4FF;
  border-left: 3px solid #A4D4FF;
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 0;
  width: 20px;
  position: absolute;
  bottom: 289px;
  left: 285px;
}

.refresh:hover {
  background-color:
  #A4D4FF;
  color: white;
}

.refresh {
  color: #A4D4FF;
}
footer {
  height: 45px;
  width: 310px;
  border-left: solid 3px #A4D4FF;
  border-bottom: solid 3px #A4D4FF;
  border-right: solid 3px #A4D4FF;
  margin: 0;
  bottom: 5px;
  right: 0;
  position: relative;
}

.icons  {
  color: #A4D4FF;
  position: absolute;
  margin: 0;
}
.arrows-container:hover{
  background-color:
  #A4D4FF;
  color: white;
}

.arrows-container {
  position: relative;
  top: 3px;
  height: 42px;
  width: 60px;
  border-right: 3px solid #A4D4FF;
}

.arrows {
  bottom: -9px;
  left: 2px;
  position:absolute;
  padding: 23px 0px 20px 20px;
}

.heart-container:hover {
background-color: #A4D4FF;
color: white;
}

.heart-container{
  position: relative;
  margin: 0;
  bottom: 39px;
  left: 60px;
  height: 42px;
  width: 60px;
  border-right: 3px solid #A4D4FF;
}
.heart {
  top: 15px;
  left: 22px;
  position: absolute;
}

.shirt-container:hover {
  background-color: #A4D4FF;
  color: white;
}
.shirt-container:hover .little-container {
  opacity: 1;
  visibility: visible;
  left: 0;
  transform: translate(0px, 15px);
}


.shirt-container {
  position: relative;
  bottom: 80px;
  left: 120px;
  height: 42px;
  width: 65px;
  border-right: 3px solid #A4D4FF;
}

ul {
  position: absolute;
  font-size: 20px;
  /*right: 14px;*/
  top: -2px;
}

li {
  list-style: none;
}
.shirt {
  top: -3px;
  right: 22px;
  position: absolute;
  padding: 0;
}
.little-container{
  position: absolute;
  background: white;
  height: 200px;
  width: 62px;
  border: 3px solid #A4D4FF;
  bottom: 59px;
  transition: all .4s ease-out;
  transform-origin: bottom right;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.little-container .triangle-dowm{
position: absolute;
top: 200px;
left: 25px;
width: 0;
height: 0;
border-style: solid;
border-width: 10px 7.5px 0 7.5px;
border-color:  #ffffff transparent transparent transparent;
}

.shirt-list{
  padding: 0;
  margin: 0;
  height: 62px;
  width: 62px;
  background-color: white;
}
.shirt-list li {
  float: left;
  font-size: 25px;
  margin-top: 0;
  margin-left: 6px;
  height: 40px;
}

.box-container:hover{
  background-color: #A4D4FF ;
  color: #ffffff
}
.box:hover {
  color: #A4D4FF;
  border: 1px solid white;

}
.box-container{
  position: relative;
  bottom: 121px;
  left: 185px;
  height: 42px;
  width: 63px;
  border-right: 3px solid #A4D4FF;
}

.box {
  margin: 0;
  top: 12px;
  left: 27px;
  position: absolute;

}
.box-container:hover .boxes-container{
  opacity: 1;
  visibility: visible;
  left: 0;
  transform: translate(0px, 15px);
}
.box-container:hover .box {
  color: white;
  padding: 0;
}

.boxes-container {
  overflow: hidden;
  position: absolute;
  height: 62px;
  width: 62px;
  background: white;
  border: 3px solid #A4D4FF;
  bottom: 60px;
  transition: all .4s ease-out;
  transform-origin: bottom right;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.colors-list  {
  padding: 0;
  margin: 0;
  height: 62px;
  width: 62px;
  background-color: white;
   }

.colors-list li {
  float: left;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 6px;
}

.cart-container:hover {
  background-color: #A4D4FF;
  color: white;
}

.cart-container {
  position: relative;
  bottom: 165px;
  left: 251px;
  height: 42px;
  width: 59px;

}

.cart {
  top: 15px;
  left: 20px;
  position: absolute;

}
