li {
  list-style: none;
}
img {
  height: 250px;
}
.all-shirts{
  margin: 100px;
  overflow: none;
  margin: auto;
}

.shirt-menu{
  float: left;
  margin-left: 30px;

}

.big-shirt {
  height: 250px;
  width: 280px;
  padding: 30px 10px 30px 20px;
  border: 3px solid #A4D4FF;
  position: relative;
  margin: 0;
}
.refresh{
  border-bottom: 2px solid #A4D4FF;
  border-left: 3px solid #A4D4FF;
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 0;
  width: 20px;
  position: absolute;
  bottom: 289px;
  left: 285px;
}

.refresh {
  color: #A4D4FF;
}
footer {
  height: 45px;
  width: 310px;
  border-left: solid 3px #A4D4FF;
  border-bottom: solid 3px #A4D4FF;
  border-right: solid 3px #A4D4FF;
  margin: 0;
  bottom: 5px;
  right: 0;
  position: relative;
}

.icons  {
  color: #A4D4FF;
  position: absolute;
  margin: 0;
}
.arrows-container:hover{
  background-color:
  #A4D4FF;
}

.arrows-container {
  position: relative;
  top: 3px;
  height: 42px;
  width: 60px;
  border-right: 3px solid #A4D4FF;
}

.arrows {
  bottom: -5px;
  left: 2px;
  position:absolute;
  padding: 23px 0px 20px 20px;
}

.heart-container:hover {
background-color:
#A4D4FF;
}

.heart-container{
  position: relative;
  margin: 0;
  bottom: 39px;
  left: 60px;
  height: 42px;
  width: 60px;
  border-right: 3px solid #A4D4FF;
}
.heart {
  top: 15px;
  left: 22px;
  position: absolute;
}

.shirt-container:hover {
  background-color:
  #A4D4FF;
}

.shirt-container {
  position: relative;
  bottom: 80px;
  left: 120px;
  height: 42px;
  width: 65px;
  border-right: 3px solid #A4D4FF;

}

.shirt {
  top: -3px;
  right: 22px;
  position: absolute;
  padding: 0;
}
.box-container:hover{
  background-color:
  #A4D4FF;
}
.box-container{
  position: relative;
  bottom: 121px;
  left: 185px;
  height: 42px;
  width: 63px;
  border-right: 3px solid #A4D4FF;
}

.box {
  top: 12px;
  left: 27px;
  position: absolute;

}

.cart-container:hover{
  background-color:
  #A4D4FF;
}

.cart-container {
  position: relative;
  bottom: 165px;
  left: 251px;
  height: 42px;
  width: 59px;

}

.cart {
  top: 15px;
  left: 20px;
  position: absolute;

}
